* {
  box-sizing: border-box;
}

body {
  background-color: #5bb6f2;
}

.frog-body {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: linear-gradient(#11c22e  85%, #2e7433 100%);
  width: 255px;
  height: 180px;
  border: 1px solid #000;
  border-radius: 35%;
}

.frog-mouth {
  position: absolute;
  right: 0;
  left: 0;
  top: -250px;
  bottom: 0;
  margin: auto;
  background: linear-gradient(#11c22e 85%, #2e7433 100%);
  width: 215px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 35%;
}

 .frog-left-eye {
  position: absolute;
  right: 0;
  left: -75px;
  top: -400px;
  bottom: 0;
  margin: auto;
  background: #fff;
  width: 60px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 35%;
  z-index: 1;
}

.frog-right-eye {
  position: absolute;
  right: 0;
  left: 75px;
  top: -400px;
  bottom: 0;
  margin: auto;
  background: #fff;
  width: 60px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 35%;
  z-index: 1;
} 

.frog-left-inner-eye {
  /* position: absolute; */
  right: 0;
  left: 200px;
  top: -200px;
  bottom: 200;
  margin: auto;
  background: black;
  width: 60px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 35%;
  z-index: 1;
  
}

.frog-right-inner-eye {
 /* position: absolute; */
 right: 0;
 left: 200px;
 top: -200px;
 bottom: 200;
 margin: auto;
 background: black;
 width: 60px;
 height: 50px;
 border: 1px solid #000;
 border-radius: 35%;
 z-index: 1;
} 
 
.frog-mouth div {
  width: 30px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 190%/190px 150px 0 0;
  border-color: black transparent transparent transparent;
}

.frog-mouth-line-left {
  position: absolute;
  top: 88px;
  left: 74px;
  transform: rotate(170deg);
}

.frog-mouth-line-right {
  position: absolute;
  top: 88px;
  left: 91px;
  transform: rotate(165deg);
}

/* .lillypad {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: linear-gradient(#11c22e  85%, #2e7433 100%);
  width: 500px;
  height: 180px;
  border: 1px solid #000;
  border-radius: 35%;
} */

/* .cat-whiskers-left div {
  width: 40px;
  height: 1px;
  background-color: #000;
}

.cat-whiskers-right div {
  width: 40px;
  height: 1px;
  background-color: #000;
}

.cat-whisker-left-top {
  position: absolute;
  top: 120px;
  left: 52px;
  transform: rotate(10deg);
}

.cat-whisker-left-middle {
  position: absolute;
  top: 127px;
  left: 52px;
  transform: rotate(3deg);
}

.cat-whisker-left-bottom {
  position: absolute;
  top: 134px;
  left: 52px;
  transform: rotate(-3deg);
}

.cat-whisker-right-top {
  position: absolute;
  top: 120px;
  left: 109px;
  transform: rotate(-10deg);
}

.cat-whisker-right-middle {
  position: absolute;
  top: 127px;
  left: 109px;
  transform: rotate(-3deg);
}

.cat-whisker-right-bottom {
  position: absolute;
  top: 134px;
  left: 109px;
  transform: rotate(3deg);
} */